
// Esta hoja contiene estilos transversales a todas las secciones del sitio
body,html {
	background: url("../img/bg.png");
	height: 100%;
}

.mainWrapper{
	width:	100%;
	margin: 0 auto;
	overflow: hidden;
}

.clear {
	width: 100%;
	height: 10px;
}

